In [2]:
a = 2

while a<6:
    print(a)
    a+=1
else:
    print("Over")

2
3
4
5
Over

In [8]:
x = [1,2,3,4,5]

for _ in x:
    #comment
    pass
    
print("End of File")

End of File

In [10]:
for i in x:
    if i == 2:
        continue
    elif i == 5:
        break
    else:
        print(i)

print("out of loop")

1
3
4
out of loop

In [11]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
mylist = range(3)

In [2]:
mylist

range(0, 3)

In [7]:
for num in range(3,11,2):
    print(num)

3
5
7
9

In [8]:
 list(range(5))

[0, 1, 2, 3, 4]

In [14]:

word = 'abcde'

for a,b in enumerate(word):
    print(f"{a} - {b}")

0 - a
1 - b
2 - c
3 - d
4 - e

In [15]:
ml1 = [1,2,3,4,5]
ml2 = ['a','b','c','d','e']

In [16]:
for item in zip(ml1,ml2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [17]:
ml3 = [100,200,300]

In [19]:
for a,b,c in zip(ml1,ml2,ml3):
    print(f"{a}-{b}-{c}")

1-a-100
2-b-200
3-c-300

In [20]:
'x' in [1,2,3]

False

In [21]:
'x' in ['x','y']

True

In [22]:
mylist = [10,20,30,40,100]

In [23]:
max(mylist)

100

In [24]:
min(mylist)

10

In [25]:
from random import shuffle

In [26]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [43]:
shuffle(mylist)

In [44]:
mylist

[8, 6, 4, 1, 7, 9, 10, 3, 5, 2]