In [4]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel 
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [6]:
movies = pd.read_csv('ml-1m/movies.dat',sep='::',header=None,engine='python',
                     encoding='latin-1')

In [7]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [8]:
users = pd.read_csv('ml-1m/users.dat',sep='::',header=None,engine='python',
                    encoding='latin-1')

In [9]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [10]:
ratings = pd.read_csv('ml-1m/ratings.dat',sep='::',header=None,engine='python',
                      encoding='latin-1')

In [11]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [12]:
training_set = pd.read_csv('ml-100k/u1.base',delimiter='\t',header=None)

In [13]:
training_set.head()

   0  1  2          3
0  1  1  5  874965758
1  1  2  3  876893171
2  1  3  4  878542960
3  1  4  3  876893119
4  1  5  3  889751712

In [14]:
training_set = np.array(training_set,dtype='int')

In [15]:
training_set

array([[        1,         1,         5, 874965758],
       [        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [16]:
test_set = pd.read_csv('ml-100k/u1.test',delimiter='\t',header=None)
test_set = np.array(test_set,dtype='int')

In [18]:
test_set

array([[        1,         6,         5, 887431973],
       [        1,        10,         3, 875693118],
       [        1,        12,         5, 878542960],
       ...,
       [      459,       934,         3, 879563639],
       [      460,        10,         3, 882912371],
       [      462,       682,         5, 886365231]])

In [19]:
print(training_set.shape)
print(test_set.shape)

(80000, 4)
(20000, 4)

In [20]:
# Getting number of users and movies
nb_users = int(max(max(training_set[:,0]),max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]),max(test_set[:,1])))

In [21]:
print(nb_users)
print(nb_movies)

943
1682

In [22]:
# Converting data into 2D array of users X movies

def convert(data):
    new_data = []
    for id_users in range(1,nb_users+1):
        id_movies = data[:,1][data[:,0] == id_users]
        id_ratings = data[:,2][data[:,0] == id_users]
        ratings = np.zeros(nb_movies)
        ratings[id_movies-1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [23]:
training_set = convert(training_set)
test_set = convert(test_set)

In [24]:
print(len(training_set))
print(len(test_set))

943
943

In [25]:
len(training_set[1])

1682

In [26]:
# Converting data into Torch Tensors
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [27]:
training_set

tensor([[5., 3., 4.,  ..., 0., 0., 0.],
        [4., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 5., 0.,  ..., 0., 0., 0.]])

In [28]:
test_set

tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

In [31]:
# Creating the architecture of the Stacked Auto Encoder Network

class SAE(nn.Module):
    def __init__(self,):
        super(SAE,self).__init__()
        self.fc1 = nn.Linear(nb_movies,20)
        self.fc2 = nn.Linear(20,10)
        self.fc3 = nn.Linear(10,20)
        self.fc4 = nn.Linear(20,nb_movies)
        self.activation = nn.Sigmoid()
        
    def forward(self,x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x

In [32]:
sae = SAE()

In [34]:
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(),lr=0.01,weight_decay=0.5)

In [47]:
# Training the SAE
nb_epoch = 200
for epoch in range(1,nb_epoch+1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0) 
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output,target)
            mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            train_loss += np.sqrt(loss.data*mean_corrector)
            s += 1
            optimizer.step()
    print(f'Epoch: {epoch} | loss: {train_loss/s}')

Epoch: 1 | loss: 1.020716667175293
Epoch: 2 | loss: 1.019654393196106
Epoch: 3 | loss: 1.018885850906372
Epoch: 4 | loss: 1.0183213949203491
Epoch: 5 | loss: 1.0180654525756836
Epoch: 6 | loss: 1.0175825357437134
Epoch: 7 | loss: 1.017478108406067
Epoch: 8 | loss: 1.0168883800506592
Epoch: 9 | loss: 1.0165666341781616
Epoch: 10 | loss: 1.0165234804153442
Epoch: 11 | loss: 1.016279935836792
Epoch: 12 | loss: 1.0160317420959473
Epoch: 13 | loss: 1.0160751342773438
Epoch: 14 | loss: 1.0161017179489136
Epoch: 15 | loss: 1.0158600807189941
Epoch: 16 | loss: 1.015673041343689
Epoch: 17 | loss: 1.0155396461486816
Epoch: 18 | loss: 1.0155621767044067
Epoch: 19 | loss: 1.0152236223220825
Epoch: 20 | loss: 1.015008568763733
Epoch: 21 | loss: 1.0129709243774414
Epoch: 22 | loss: 1.0112364292144775
Epoch: 23 | loss: 1.0102506875991821
Epoch: 24 | loss: 1.0081446170806885
Epoch: 25 | loss: 1.00741708278656
Epoch: 26 | loss: 1.0038561820983887
Epoch: 27 | loss: 1.004699468612671
Epoch: 28 | loss: 1.0014530420303345
Epoch: 29 | loss: 0.999390184879303
Epoch: 30 | loss: 0.9972131848335266
Epoch: 31 | loss: 0.9963933229446411
Epoch: 32 | loss: 0.9922077655792236
Epoch: 33 | loss: 0.9940623641014099
Epoch: 34 | loss: 0.9907359480857849
Epoch: 35 | loss: 0.9876700043678284
Epoch: 36 | loss: 0.9866300225257874
Epoch: 37 | loss: 0.9848431944847107
Epoch: 38 | loss: 0.9822303652763367
Epoch: 39 | loss: 0.9830456972122192
Epoch: 40 | loss: 0.976155161857605
Epoch: 41 | loss: 0.9760385751724243
Epoch: 42 | loss: 0.9706889986991882
Epoch: 43 | loss: 0.9712426066398621
Epoch: 44 | loss: 0.9681575298309326
Epoch: 45 | loss: 0.9681745171546936
Epoch: 46 | loss: 0.9656442403793335
Epoch: 47 | loss: 0.9656635522842407
Epoch: 48 | loss: 0.9612767100334167
Epoch: 49 | loss: 0.9626057744026184
Epoch: 50 | loss: 0.9618794322013855
Epoch: 51 | loss: 0.9611212611198425
Epoch: 52 | loss: 0.9585975408554077
Epoch: 53 | loss: 0.9592708945274353
Epoch: 54 | loss: 0.9550639390945435
Epoch: 55 | loss: 0.9568135738372803
Epoch: 56 | loss: 0.9550989270210266
Epoch: 57 | loss: 0.953943133354187
Epoch: 58 | loss: 0.9509850740432739
Epoch: 59 | loss: 0.9532176852226257
Epoch: 60 | loss: 0.9551477432250977
Epoch: 61 | loss: 0.9567807912826538
Epoch: 62 | loss: 0.9579631686210632
Epoch: 63 | loss: 0.9555160403251648
Epoch: 64 | loss: 0.9544634222984314
Epoch: 65 | loss: 0.9549221992492676
Epoch: 66 | loss: 0.9514479041099548
Epoch: 67 | loss: 0.9529045224189758
Epoch: 68 | loss: 0.9474773406982422
Epoch: 69 | loss: 0.9492953419685364
Epoch: 70 | loss: 0.947676956653595
Epoch: 71 | loss: 0.947644054889679
Epoch: 72 | loss: 0.9452513456344604
Epoch: 73 | loss: 0.9454518556594849
Epoch: 74 | loss: 0.9447498917579651
Epoch: 75 | loss: 0.9533257484436035
Epoch: 76 | loss: 0.9533053040504456
Epoch: 77 | loss: 0.9505912065505981
Epoch: 78 | loss: 0.9494672417640686
Epoch: 79 | loss: 0.949174702167511
Epoch: 80 | loss: 0.9474149346351624
Epoch: 81 | loss: 0.9489017128944397
Epoch: 82 | loss: 0.9473587870597839
Epoch: 83 | loss: 0.9463794827461243
Epoch: 84 | loss: 0.9439931511878967
Epoch: 85 | loss: 0.9453104734420776
Epoch: 86 | loss: 0.9435515999794006
Epoch: 87 | loss: 0.9471387267112732
Epoch: 88 | loss: 0.9431243538856506
Epoch: 89 | loss: 0.9430271983146667
Epoch: 90 | loss: 0.9419074058532715
Epoch: 91 | loss: 0.9416864514350891
Epoch: 92 | loss: 0.9405002593994141
Epoch: 93 | loss: 0.9412426352500916
Epoch: 94 | loss: 0.939765989780426
Epoch: 95 | loss: 0.9403504729270935
Epoch: 96 | loss: 0.9380344152450562
Epoch: 97 | loss: 0.9383776187896729
Epoch: 98 | loss: 0.9371057748794556
Epoch: 99 | loss: 0.938006579875946
Epoch: 100 | loss: 0.9363686442375183
Epoch: 101 | loss: 0.9366004467010498
Epoch: 102 | loss: 0.9362933039665222
Epoch: 103 | loss: 0.9358317255973816
Epoch: 104 | loss: 0.9347792267799377
Epoch: 105 | loss: 0.9350405931472778
Epoch: 106 | loss: 0.9338746666908264
Epoch: 107 | loss: 0.9338833689689636
Epoch: 108 | loss: 0.9331260323524475
Epoch: 109 | loss: 0.9334476590156555
Epoch: 110 | loss: 0.9322790503501892
Epoch: 111 | loss: 0.9321327209472656
Epoch: 112 | loss: 0.9311578273773193
Epoch: 113 | loss: 0.9312984347343445
Epoch: 114 | loss: 0.930247962474823
Epoch: 115 | loss: 0.9303369522094727
Epoch: 116 | loss: 0.9315946102142334
Epoch: 117 | loss: 0.9318670034408569
Epoch: 118 | loss: 0.9300349950790405
Epoch: 119 | loss: 0.9309357404708862
Epoch: 120 | loss: 0.9292967319488525
Epoch: 121 | loss: 0.9294906854629517
Epoch: 122 | loss: 0.9293913841247559
Epoch: 123 | loss: 0.9291418790817261
Epoch: 124 | loss: 0.927909791469574
Epoch: 125 | loss: 0.9278566837310791
Epoch: 126 | loss: 0.9271690249443054
Epoch: 127 | loss: 0.927800178527832
Epoch: 128 | loss: 0.926758885383606
Epoch: 129 | loss: 0.9264642000198364
Epoch: 130 | loss: 0.9257227182388306
Epoch: 131 | loss: 0.9259123206138611
Epoch: 132 | loss: 0.925281822681427
Epoch: 133 | loss: 0.9247490763664246
Epoch: 134 | loss: 0.9245068430900574
Epoch: 135 | loss: 0.9247509837150574
Epoch: 136 | loss: 0.924079179763794
Epoch: 137 | loss: 0.9235855937004089
Epoch: 138 | loss: 0.9235280752182007
Epoch: 139 | loss: 0.9237146377563477
Epoch: 140 | loss: 0.9228649735450745
Epoch: 141 | loss: 0.9232654571533203
Epoch: 142 | loss: 0.9228555560112
Epoch: 143 | loss: 0.9231022000312805
Epoch: 144 | loss: 0.9223422408103943
Epoch: 145 | loss: 0.9219638109207153
Epoch: 146 | loss: 0.9218936562538147
Epoch: 147 | loss: 0.9217513799667358
Epoch: 148 | loss: 0.9215163588523865
Epoch: 149 | loss: 0.9212595224380493
Epoch: 150 | loss: 0.9207822680473328
Epoch: 151 | loss: 0.9208986163139343
Epoch: 152 | loss: 0.9207852482795715
Epoch: 153 | loss: 0.9207718968391418
Epoch: 154 | loss: 0.9204102158546448
Epoch: 155 | loss: 0.9202061891555786
Epoch: 156 | loss: 0.9199036359786987
Epoch: 157 | loss: 0.9196813106536865
Epoch: 158 | loss: 0.9197142124176025
Epoch: 159 | loss: 0.9197155833244324
Epoch: 160 | loss: 0.9192782044410706
Epoch: 161 | loss: 0.9185537695884705
Epoch: 162 | loss: 0.9185552597045898
Epoch: 163 | loss: 0.9187442064285278
Epoch: 164 | loss: 0.9183204174041748
Epoch: 165 | loss: 0.9181355237960815
Epoch: 166 | loss: 0.9176003932952881
Epoch: 167 | loss: 0.9177517890930176
Epoch: 168 | loss: 0.917576789855957
Epoch: 169 | loss: 0.9171875715255737
Epoch: 170 | loss: 0.9173679351806641
Epoch: 171 | loss: 0.9172165989875793
Epoch: 172 | loss: 0.9168457388877869
Epoch: 173 | loss: 0.9170888662338257
Epoch: 174 | loss: 0.9164597392082214
Epoch: 175 | loss: 0.9166653752326965
Epoch: 176 | loss: 0.9158093333244324
Epoch: 177 | loss: 0.915924608707428
Epoch: 178 | loss: 0.9157107472419739
Epoch: 179 | loss: 0.9155158400535583
Epoch: 180 | loss: 0.915297269821167
Epoch: 181 | loss: 0.9157659411430359
Epoch: 182 | loss: 0.9154630899429321
Epoch: 183 | loss: 0.9152857065200806
Epoch: 184 | loss: 0.915117084980011
Epoch: 185 | loss: 0.9144933223724365
Epoch: 186 | loss: 0.9144560098648071
Epoch: 187 | loss: 0.9142726063728333
Epoch: 188 | loss: 0.9138364791870117
Epoch: 189 | loss: 0.9142844676971436
Epoch: 190 | loss: 0.9136865139007568
Epoch: 191 | loss: 0.9134895205497742
Epoch: 192 | loss: 0.9131661057472229
Epoch: 193 | loss: 0.9128440618515015
Epoch: 194 | loss: 0.912612795829773
Epoch: 195 | loss: 0.9121970534324646
Epoch: 196 | loss: 0.9119271039962769
Epoch: 197 | loss: 0.9117326140403748
Epoch: 198 | loss: 0.9111204743385315
Epoch: 199 | loss: 0.9108825922012329
Epoch: 200 | loss: 0.9109449982643127

In [50]:
# Testing the SAE
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0) 
    target = Variable(test_set[id_user]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        output = sae(input)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion(output,target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data*mean_corrector)
        s += 1
print(f'Loss: {test_loss/s}')

Loss: 0.9487899541854858